<h2 class="text-center mt-3 d-flex flex-column align-items-center">
    <i class="bi bi-door-open fs-1" style="width: fit-content; color: #3c096c;"></i>
    Log in to continue
</h2>
<div class="d-flex mt-4 gap-2 shadow bg-body-tertiary border border-3 border-light-subtle" style="height: 350px;">
      <%= form_for(:session, html: {class: "col-6 d-flex flex-column align-items-center justify-content-center", role: "form"}, url: login_path) do |f| %>
            <div class="form-floating mb-3 col-6">
                <%= f.text_field :username, class: "form-control", id: "Username", placeholder: "Your username" %>
                <%= f.label :username, "Username" %>
            </div>
            <div class="form-floating mb-3 col-6">
                <%= f.password_field :password, class: "form-control", id: "Password", placeholder: "Your password" %>
                <%= f.label :password, "Password" %>
            </div>
            <%= f.button "Login", class: "btn bg-purple text-white" %>
    <% end %>
    <div class="border-start" style="height: 100%"></div>
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
        <a class="icon-link col-6" href="#" style="text-decoration: none;">
            <button type="button" class="btn w-100 fs-4 bg-purple text-white" style="height: 60px;">
                <i class="bi bi-pencil-square fs-4"></i>
                Sign up
            </button>
        </a>
    </div>    
</div>


